<div class="main" style="background-image: url(../../assets/bg.png);">
    <form class="pt-4 pb-4 ps-4 pe-4" style="background-color: #1c1c1c;">
        <div class="form-group pb-3">
            <label for="exampleInputLogin1">Login</label>
            <input type="login" class="form-control" id="exampleInputLogin1" aria-describedby="loginHelp" placeholder="Enter login">
        </div>
        <div class="form-group pb-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>